* {
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
}
.section {
    position: relative;
}
a {
    text-decoration: none;
}
img {
    vertical-align: middle;
    border: 0;
}
/* HEADER */
header {
    width: 100%;
    height: 66px;
    display: flex;
    position: fixed;
    top: 0;
}
header .container {
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.container::after {
    clear: both;
}
.container::before, .container::after {
    display: table;
    content: " ";
}
/* RIGHT CONTAINER */
header .container .right-container {
    display: flex;
    align-items: center;
    flex: 3;
}
header .container .right-container > a {
    margin-right: 72px;
}
header .container .right-container .menu-container {
    display: flex;
    align-items: center;
    flex: 3;
}

header .container .right-container .menu-container .menu-item {
    font-size: 1.143em;
    color: #444444;
    font-weight: bold;
    margin-right: 48px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    transition: all .1s ease-out;
}
header .container .right-container .menu-container .menu-item-sub {
    font-size: 1.143em;
    color: #494949;
    font-weight: normal;
    margin-left: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    transition: all .1s ease-out;
}

/* DIVIDER */
.divider {
    width: 1px;
    height: 100%;
    background-color: #777777;
    margin: 0;
    min-height: 20px;
    margin-right: 8px;
}

/* LEFT CONTAINER */
header .container .left-container {
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: flex-end;
}
header .container .left-container .util-item {
    margin-left: 24px !important;
}
header .container .left-container .util-item.auth-btn {
    font-size: 1em;
    letter-spacing: -0.25px;
    color: #444444;
    transition: all .1s ease-out;
}
header .container .left-container .auth-divider {
    width: 1px;
    height: 100%;
    margin: 0;
    min-height: 12px;
    margin-left: 16px;
    background-color: #e1e1e1;
}
header .container .left-container .util-item.auth-btn.register-btn {
    margin-left: 16px !important;
}


/* BANNER */
.main-info {
    position: fixed;
    top: 66px;
    width: 100%;
    z-index: 39;
}
.main-info a .content {
    width: 1500px;
    height: 60px;
    background: url(https://cdn.notefolio.net/uploads/banner/3a20eaf7a9b1b3a4fdb072ad43dba509.png);
    background-size: cover;
    line-height: 58px;
    margin: 0 auto;
    text-align: center;
}

/* MAIN SECTION */
.listing.v2 {
    margin-top: 6px;
}

.main-banner-bg {
    background-color: #fafafa;
}

.container.main {
    padding: 0 30px;
    min-width: 1500px;
}

.container.main .row {
    margin: auto 0;
}
.row::after {
    clear: both;
}
.row::before, .row::after {
    display: table;
    content: " ";
}